* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #0f1115;
    color: white;
}

.intro {

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
}

.intro h1 {
    font-size: 80px;
    margin-bottom: 65px;
}

.intro p {
    font-size: 28px;
    color: #aaa;
    margin-bottom: 8px;
}

#scrollinfo {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}

.experience {
    width: 100%;
    display: flex;
    position: relative;
}

.content {
    width: 50%;
}

.step {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 60px;
}

.text {
    width: 100%;
    max-width: 550px;
}


.text h2 {
    font-size: 42px;
    margin-bottom: 25px;
}

.text p {
    font-size: 20px;
    line-height: 1.6;
    color: #aaa;
    margin-bottom: 20px;
}

.equation {
    font-family: "Times New Roman", serif;
    font-size: 25px !important;
    color: white !important;
    margin-top: 30px;
}

.network {
    width: 50%;
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#neuralNetwork {
    width: 90%;
    max-width: 600px;
    height: auto;
    overflow: visible;
}


.connection {
    stroke: #555;
    stroke-width: 2;
}

.neuron {
    fill: #111;
    stroke: white;
    stroke-width: 3;
}

.neuron-text {
    fill: white;
    font-size: 25px;
    text-anchor: middle;
}

.weight-label {
    fill: #ffffff;
    font-size: 17px;
    text-anchor: middle;
}

.bias-label {
    fill: #ffffff;
    font-size: 14px;
    text-anchor: middle;
}

@media (max-width: 900px) {

    .intro {
        margin-left: 25px;
        margin-right: 25px;
    }

    .intro h1 {
        font-size: 55px;
    }

    .intro p {
        font-size: 20px;
    }

    .experience {
        display: block;
    }

    .content {
        width: 100%;
    }

    .step {
        height: 80vh;
        padding: 40px 25px;
    }

    .text {
        width: 100%;
    }

    .text h2 {
        font-size: 32px;
    }

    .text p {
        font-size: 18px;
    }
    .network {
        width: 100%;
        height: 60vh;
        position: sticky;
        top: 0;
    }

    #neuralNetwork {
        width: 90%;
    }

}
.activation-visual {
    opacity: 0;
}


.activation-value {
    fill: white;
    font-size: 22px;
    text-anchor: middle;
}

.activation-arrow {
    stroke: white;
    stroke-width: 2;
}

.activation-box {
    fill: #111;
    stroke: white;
    stroke-width: 2;
}

.activation-text {
    fill: white;
    font-size: 20px;
    text-anchor: middle;
}


.activation-value {
    fill: white;
    font-size: 24px;
    text-anchor: middle;
}

.activation-box {
    fill: #111;
    stroke: white;
    stroke-width: 3;
}

.activation-text {
    fill: white;
    font-size: 26px;
    text-anchor: middle;
}

.activation-subtext {
    fill: #aaa;
    font-size: 16px;
    text-anchor: middle;
}

.activation-arrow {
    stroke: white;
    stroke-width: 2;
}
.loss-visual {
    opacity: 0;
}

.loss-value {
    fill: white;
    font-size: 24px;
    text-anchor: middle;
}

.loss-box {
    fill: #111;
    stroke: white;
    stroke-width: 3;
}

.loss-text {
    fill: white;
    font-size: 24px;
    text-anchor: middle;
}

.loss-subtext {
    fill: #aaa;
    font-size: 16px;
    text-anchor: middle;
}

.loss-arrow {
    stroke: white;
    stroke-width: 2;
}
.y{
    opacity: 0;
}